@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-averia: "Averia Serif Libre", sans-serif;
  --font-matangi: "Matangi", mono;
  --font-inter: "Inter", sans-serif;
}

@layer components {
  .link-underline {
    @apply relative inline-block after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 after:content-[''] hover:after:w-full;
  }
}

#root {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(88, 88, 88);
  }
}
